.project-container{
    background-color: #312F2F;
    height: 100%;
    width: 100%;

}

.project-header{
    color: whitesmoke;
    padding-top: 90px;
    padding-bottom: 90px;
    
}

.header-line1 p, .header-line2 p{
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;

}
