.header-container{
    height: 800px;
    width: 100%;
}

.header-text{
    line-height: 1;
}

.web-text, .developer-text{
  font-weight: bolder;
  font-size: 12rem;
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

.web-text p{
  padding-bottom: 0px;
  margin: 0;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.chevron-image{
    animation: chevron-image 2s infinite;
}

@keyframes chevron-image {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-7px);
    }
  }



/* RESPONSIVE */
@media screen and (max-width: 400) {
  .web-text, .developer-text{
      font-size: 10px;
      background-color: aquamarine;
  }
}